DISCORD_TOKEN=""
NODE_ENV="development"
TEST_GUILD_ID=""

GITHUB_TOKEN=""

AI_API_URL="http://localhost:3000"
AI_SECRET_KEY=""

POCKETBASE_URL="http://127.0.0.1:8090"
POCKETBASE_ADMIN_EMAIL="dev@local.host"
POCKETBASE_ADMIN_PASSWORD="testtest"
